.App {
  text-align: center;
  background-color: rgb(208, 248, 255);
}

.score{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin-top: 0;
  padding: 20px;
  color: red;
}

h2{
  color:#007eff;
}

p{
  margin: 20px;
}

.student{
  border: 5px inset gray;
  margin: 10px;
  padding:20px;
}
